<div class="container books">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
                <h1> List the books of an author</h1>
                <table border="1">
                  <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Published Year</th>
                    <th>Price</th>
                    <th>Summary</th>
                  </tr>
                  <% @books.each do |book| %>
                  <tr>
                   <td><%= book.name %></td>
                   <td><%= book.author.name %></td>
                   <td><%= book.published_year %></td>
                   <td><%= book.price %></td>
                   <td><%= book.summary %></td>
                    <% end %>
                  </tr>
                </table>
      </div>
  </div>
</div>
