 <div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
                <h1>Add an author here</h1>
                <%= form_for(@author) do |f| %>
                  <table class='table table-stripped table-condensed'>
                    <tr>
                    <td><%= f.label :name %></td>
                    <td><%= f.text_field :name, class: 'form-control' %></td>
                    </tr>
                    <tr>
                    <td><%= f.label :DoB %></td>
                    <td><%= f.date_field :DoB, class: 'form-control' %></td>
                    </tr>
                    <tr>
                    <td><%= f.label :DoD %></td>
                    <td><%= f.date_field :DoD, class: 'form-control' %></td>
                    </tr>
                    <tr>
                    <td colspan="2"><%= f.submit class: 'btn btn-success pull-right'%></td>
                    </tr>
                    </table>
                <% end %>
        </div>
    </div>
</div>
