<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1> Many books in this lirary </h1>
        <table class="table table-striped table-condensed">
          <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Published Year</th>
            <th>Price</th>
            <th>Summary</th>
            <th>Delete</th>
            <th>Edit</th>
          </tr>
          <% @books.each do |book| %>
          <tr>
            <td><%= book.name %></td>
            <td><%= book.author.name %></td>
            <td><%= book.published_year %></td>
            <td><%= book.price %></td>
            <td><%= book.summary %></td>
            <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: "Do you want to delete this book?"} %></td>
            <td><%= link_to 'Edit', edit_book_path(book.id) %></td>
            <% end %>
          </tr>
        </table>
    </div>
  </div>
</div>