<h1>The book that you want to find</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <table class="table table-stripped table-condensed">
        <tr>
          <th>Name:</th>
          <td><%= @book.name %></td>
        </tr>
        <tr>
          <th>Author:</th>
          <td><%= @book.author_id %></td>
        </tr>
        <tr>
          <th>Published_year:</th>
          <td><%= @book.published_year %></td>
        </tr>
        <tr>
          <th>Price:</th>
          <td><%= @book.price %></td>
        </tr>
        <tr>
          <th>Summay:</th>
          <td><%= @book.summary %></td>
        </tr>
      </table>
    </div>
  </div>
</div>